<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Flash Sales'} %>

<table class="index" data-hook="flash_sales_table">
  <tr data-hook="admin_flash_sales_index_headers">
    <th><%= t(:price) %></th>
	<th><%= t(:start_date) %></th>
    <th><%= t(:action) %></th>
  </tr>

  <tbody>
  <% @product.flash_sales.each do |flash_sale| %>
    <tr id="<%= spree_dom_id flash_sale %>" data-hook="flash_sales_row">
      <td><%= flash_sale.price_cost %></td>
	  <td><%= flash_sale.start_date %></td>
      <td class="actions">
        <%= link_to_with_icon 'edit', t(:edit), edit_admin_product_flash_sale_url(@product, flash_sale), :class => 'edit' %>
        &nbsp;
        <%= link_to_delete flash_sale, { :url => admin_product_flash_sale_url(@product, flash_sale) }%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="flash_sales" data-hook></div>
<br />
<p data-hook="links">
    <%= link_to icon('add') + ' ' + t(:new_flash_sale), new_admin_product_flash_sale_url(@product), :id => 'new_flash_sale_link' %>
</p>

